[Unit]
Description=Run startup script for lora logging at boot

[Service]
Type=simple
User=1000
Group=1000
ExecStart=/usr/bin/python3 /opt/lora_logger/lora_python_log_serial_CURRENT.py

[Install]
WantedBy=multi-user.target
